# Node.js
node_modules/
npm-debug.log
yarn-error.log
package-lock.json
yarn.lock

# TypeScript
dist/
build/
*.tsbuildinfo

# 環境変数ファイル
.env

# IDEやエディタの設定ファイル
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OSのファイル
.DS_Store
Thumbs.db

# テスト結果
coverage/
*.lcov

# ログファイル
logs/
*.log


# pnpm
.pnpm-debug.log
.pnpm-lock.yaml
.pnpm-store/
